extends meta/_layout

block content
  section.main-content
    .container
      .row
        .col-xs-12
          .border-block
            |<h1 class="head text-uppercase">Банкетный за<span class="last-letter">л</span></h1>
            .after-title-line.block-center
            .content-text
              h3 Банкетный зал «Аквамарин» - торжество с размахом
              p Намечается пышный праздник, в рамках которого планируется пригласить большое количество гостей? Банкетный зал «Аквамарин» — это именно то, что Вам !
              p Просторный зал рассчитан на вместимость до 200 человек. Поэтому в данном заведении провести многолюдную вечеринку или банкет с большим количеством приглашенных, не составит особого труда.
              p Комфортно разместиться и погрузиться в увлекающую обстановку торжественного мероприятия позволяют все технические и стилистические параметры данного заведения. Праздник, проведенный на таком уровне, запомнится и произведёт самые положительные впечатления на Ваших гостей.
              h3 Приглашать гостей в банкетный зал – это удобно, красиво и выгодно!
              p Организовывая мероприятие в банкетном зале «Аквамарин» можно воплотить любые идеи расстановки посадочных мест. Просторное помещение позволяет самые разные варианты рассадки, в зависимости от количества приглашенных персон. Планировка мебельного интерьера производится в соответствии с пожеланиями клиента. Персонал готов помочь идеями, в случае, если у заказчика не найдется своих интересных вариантов.
              p Изюминкой зала является уникальное панно, которое точно повторяет вид из окна одного из центральных ресторанчиков Парижа!
              p Помещение оснащено в соответствии с последним словом техники. Это дает прекрасную возможность организовать развлекательную программу различных форматов, независимо от степени сложности, будь то:
              ul
                li вечер с живой музыкой;
                li вечеринка с музыкальным сопровождением клубного формата;
                li строгая подача торжества с мелодичным фоном.
              p Несмотря на большое количество приглашенных в зале останется место для танцев и зажигательных конкурсов.
              p Организовать и провести банкет поможет персонал заведения - настоящие профессионалы своего дела,  которые сделают Ваш праздник ярким и интересным.
              h3 Организация банкета и меню
              p В комплексе «Аквамарин» работают настоящие мастера кулинарии. Они помогут составить меню для банкета любого уровня. Праздничный стол будет организован в соответствии со всеми пожеланиями клиента. В зависимости от тематики праздника, персонал предложит различные варианты сервировки стола и подачи праздничных блюд.
              p Устраивая торжество в банкетном зале можно рассчитывать на высшую оценку от приглашенных гостей. Праздник в заведении такого уровня будет солидным, запоминающимся и впечатляющим.
              p: i Банкетный зал «Аквамарин» рад открыть свои двери для вашей свадьбы, юбилея, Дня Рождения или корпоративной вечеринки.

            include meta/_like-block

block sliderItems
  -for(var i = 0; i < 9; i++)
    .slider-image-wrap.cur
      .overlay
      img(src="photo/banketnyj-zal-akvamarin-#{i + 1}.jpg" alt="slider photo")
