extends meta/_layout

block content
  section.main-content
    .container
      .row
        .col-xs-12
          .border-block
            |<h1 class="head text-uppercase">Бильяр<span class="last-letter">д</span></h1>
            .after-title-line.block-center
            .content-text
              h3  Бильярдный клуб «Аквамарин» - комфорт для любителей и профессионалов
              p На пышном торжестве всегда найдутся гости, которым захочется немного отстраниться от застолья и окунуться в захватывающую атмосферу игры. В комплексе «Аквамарин» имеется элитный бильярдный клуб.
              p Уединившись в зале, оборудованном для игры на бильярде, гости смогут:
              ul
                li отдохнуть от шума и праздничной суеты;
                li погрузиться в увлекательную беседу, присев на удобные диванчики;
                li ценители бильярда смогут сыграть несколько партий;
                li поклонники игры смогут понаблюдать за захватывающим азартным зрелищем.
              p При необходимости в бильярдной можно заказать алкогольные напитки, чтобы немного развеять напряженную атмосферу игры.
              h3 Интерьер и атмосфера бильярдного клуба «Аквамарин»
              p Клуб оборудован на высшем уровне. В наличии имеется пять 12ти футовых бильярдных столов и всё соответствующее оснащение. В помещении организовано профессиональное освещение, которое позволяет сосредоточиться на игре. Вместе с тем общая атмосфера зала располагает к спокойному отдыху и душевной разгрузке.
              p Приятный контраст зеленого сукна с окружающим интерьером, выдержанным в утонченном элитном стиле, настраивает на самый позитивный лад!
              h3 Побалуйте себя игрой в бильярд!
              p В бильярдном клубе имеется все необходимое для приятного и продуктивного времяпрепровождения. Любители взять в руки кий и раскатать партейку - другую , оценят отличную оснащенность зала и душевную атмосферу, царящую в нём. В нашем клубе понравится даже тем, кто не является большим знатоком игры. Усовершенствовать свое мастерство, можно прибегнув к помощи маркеров — профессионалов.
              p Устраивать торжество в заведении, где предоставляется такая уникальная возможность, как игра в бильярд, весьма креативно!
              p: i Ваши гости наверняка получат массу удовольствия и зарядятся позитивным настроем от игры в бильярдном клубе «Аквамарин».

            include meta/_like-block

block sliderItems
  -for(var i = 0; i < 6; i++)
    .slider-image-wrap.cur
      .overlay
      img(src="photo/biljardnaja-akvamarin-#{i + 1}.jpg" alt="slider photo")
