extends meta/_layout

block content
  section.main-content
    .container
      .row
        .col-xs-12
          .border-block
            |<h1 class="head text-uppercase">Каф<span class="last-letter">е</span></h1>
            .after-title-line.block-center
            .content-text
              h3 Кафе «Аквамарин» - приятный вечер и дружеская обстановка
              p Устав от суетливых будней, стресса и рутинных домашних хлопот, так хочется отдохнуть в приятной непринужденной обстановке вместе с друзьями или близкими людьми.  Кафе «Аквамарин» с удовольствием предоставит Вам эту возможность!
              h3 Внутренняя атмосфера кафе
              p Дизайн интерьера выдержан в нежном прованском стиле. В каждой детали читается изыск и комфорт. Кафе оснащено в соответствии с последним словом техники:
              ul
                li проектор;
                li караоке;
                li профессиональное музыкальное оборудование;
                li светомузыка.
              p Оригинальное музыкальное оформление создает позитивный праздничный настрой. Площадь зала позволяет танцевать и проводить различные динамичные конкурсы. В целом в заведении царит дружеская теплая атмосфера, проникнувшись которой наверняка захочется вернуться в это место еще раз.
              h3 Обслуживание и кухня
              p Меню ресторана изобилует разными блюдами европейской кухни. Повара заведения удивят своих гостей самыми потрясающими и вкусными изысками. Любители десертов найдут для себя массу интересных вариантов сладких закусок.
              p При заказе учитываются все пожелания клиента. Любые просьбы и замечания обслуживающий персонал кафе не оставит без внимания!
              h3 Приходите отдохнуть!
              p Приглашаем посетить кафе «Аквамарин» всем желающим хорошо провести время и отдохнуть в компании друзей. Тихий романтический вечер или шумное яркое торжество, мы знаем, как организовать любое мероприятие в рамках нашего заведения.
              p Внутренняя площадь позволяет уместить до 80 человек, а интерьер позволяет насладиться вечером с высокой степенью комфорта. Выбирайте наше кафе для праздника и отдыха, для знаменательных торжеств или для вкусного ужина в хорошей компании.
              p: i Мы уверены, Вы получите лучшие впечатления от посещения кафе «Аквамарин»!

            include meta/_like-block

block sliderItems
  -for(var i = 0; i < 10; i++)
    .slider-image-wrap.cur
      .overlay
      img(src="photo/kafe-akvamarin-#{i + 1}.jpg" alt="slider photo")

