extends meta/_layout

block headerScript
  script(src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full" data-id="dgLoader")

block slider

block content
  section.main-content
    .container
      .row
        .col-xs-12
          .border-block
            h1.head.text-uppercase Контакты
            .after-title-line.block-center
            .content-text
              .container-fluid.text-left
                .row
                  .col-xs-12.col-sm-12.col-md-12.col-lg-6
                    p  Текст текст текст текст текст текст <br>текст текст текст текст текст текст текст текст текст <br>текст текст текст текст текст текст текст<br>текст текст текст текст текст<br>текст текст текст текст текст <br>текст текст текст текст
                    p  Текст текст текст текст текст текст <br>текст текст текст текст текст текст текст текст текст <br>текст текст текст текст текст текст текст<br>текст текст текст текст текст<br>текст текст текст текст текст <br>текст текст текст текст
                  .col-xs-12.col-sm-12.col-md-12.col-lg-6
                    p  Текст текст текст текст текст текст <br>текст текст текст текст текст текст текст текст текст <br>текст текст текст текст текст текст текст<br>текст текст текст текст текст<br>текст текст текст текст текст <br>текст текст текст текст

    .container
      .row
        .col-xs-12
          #map
