extends meta/_layout

block content
  section.main-content
    .container
      .row
        .col-xs-12
          .border-block
            |<h1 class="head text-uppercase">Аквамари<span class="last-letter">н</span></h1>
            .after-title-line.block-center
            .content-text
              h3 Аквамарин – развлекательный комплекс с атмосферой праздника
              p Если в жизни двоих любящих сердец намечается долгожданное праздничное событие, самое время подыскать подходящее заведение для торжества.
              p Комплекс «Аквамарин» идеально подходит для проведения свадебного мероприятия. Название уже говорит о многом, ведь аквамарин считается камнем, символизирующим глубокие искренние чувства и верность. Выбор заведения с таким названием для проведения свадебного банкета можно считать хорошей приметой.
              h3 Интерьер комплекса «Аквамарин»
              p Внутренняя стилистика заведения настолько праздничная, что для проведения банкета не требуется дополнительно украшать залы. Интерьер выдержан в оригинальном изысканном стиле. Окунувшись в эту атмосферу уюта и гостеприимства можно отлично провести главное торжество в своей жизни, от которого останутся самые яркие и приятные впечатления.
              h3 Услуги и меню:
              ul
                li 1. Банкетное меню составляется с учетом всех пожеланий и идей клиентов. Повара заведения могут предложить самые лучшие варианты горячих и закусочных блюд европейской кухни. Вкусно накормить гостей праздничным угощением можно на сумму от 1600 руб. на одного человека.
                li 2. Ассортимент алкогольных и безалкогольных напитков, который предлагается заказать в рамках банкета, довольно разнообразен. Заведение делает щедрую скидку на алкогольные напитки, которые закупаются в ресторане.
                li 3. Желающие закупить алкоголь самостоятельно, могут воспользоваться этой возможностью, предварительно обговорив этот момент с руководством комплекса.
                li 4. «Аквамарин» предоставляет уникальную возможность проведения деловых встреч, переговоров и конференций.
              p Комплекс «Аквамарин» будет рад организовать и провести ваш свадебный банкет на самом высоком уровне. Мы знаем толк в организации незабываемых праздников. Воплотить самые невероятные и интересные идеи в нашем комплексе можно без труда.
              p: i Хотите свадьбу в Париже? Для нас нет ничего невозможного!

            include meta/_like-block

block sliderItems
  -for(var i = 0; i < 9; i++)
    .slider-image-wrap.cur
      .overlay
      img(src="photo/kompleks-akvamarin-#{i + 1}.jpg" alt="slider photo")
