extends meta/_layout

//- block slider
  include meta/_arrow_slider

block content
  section.main-content
    .container
      .row
        .col-xs-12
          .border-block
            |<h1 class="head text-uppercase">Мен<span class="last-letter">ю</span></h1>
            //- h1.head.text-uppercase Меню ресторана <br> Аквамарин
            .after-title-line.block-center
            .content-text.pl0.pr0
              .menu-block
                .container-fluid
                  .row
                    .col-xs-12.col-sm-12.col-md-12.col-lg-4
                      .meadia
                        .media-left
                          span.icon.icon-doc-text-inv.fz45
                        .media-body
                          h3.text-uppercase.mt0.fz16.text-left Основное меню
                          span(data-target='#modal-show-osnovnoe-menu' data-toggle='modal').link.text-uppercase.fz12.hover-underline.cur посмотреть
                    .col-xs-12.col-sm-12.col-md-12.col-lg-4
                      .meadia
                        .media-left
                          span.icon.icon-doc-text-inv.fz45
                        .media-body
                          h3.text-uppercase.mt0.fz16.text-left Банкетное меню
                          a(href="#").link.text-uppercase.fz12.hover-underline загрузить
                    .col-xs-12.col-sm-12.col-md-12.col-lg-4
                      .meadia
                        .media-left
                          span.icon.icon-doc-text-inv.fz45
                        .media-body
                          h3.text-uppercase.mt0.fz16.text-left Барная карта
                          span(data-target='#modal-show-barnaja-karta' data-toggle='modal').link.text-uppercase.fz12.hover-underline.cur посмотреть

block sliderItems
  -for(var i = 0; i < 12; i++)
    .slider-image-wrap.cur
      .overlay
      img(src="photo/menju-akvamarin-#{i + 1}.jpg" alt="slider photo")

block modal
  .modal.modal-mod.modal-show-cart.fade(tabindex="-1", role="dialog", aria-hidden="true")#modal-show-barnaja-karta
    .modal-dialog
      .modal-content.no-box-shadow
        .modal-header.pr
          span.close-button.white.cur(data-dismiss="modal" aria-label="Close")
        .modal-body
          .full-width-block
            img(src='img/barnaja-karta.jpg' alt='barnaja-karta')
  .modal.modal-mod.modal-show-cart.fade(tabindex="-1", role="dialog", aria-hidden="true")#modal-show-osnovnoe-menu
    .modal-dialog
      .modal-content.no-box-shadow
        .modal-header.pr
          span.close-button.white.cur(data-dismiss="modal" aria-label="Close")
        .modal-body
          .full-width-block
            img(src='img/osnovnoe-menu.jpg' alt='osnovnoe-menu').can_zoom
