extends meta/_layout

block slider

block content
  section.main-content
    .container
      .row
        .col-xs-12
          .border-block
            |<h1 class="head text-uppercase">Новост<span class="last-letter">и</span></h1>
            .after-title-line.block-center
            .content-text
              .news-block
                .grand-news
                  .row
                    .col-lg-6
                      img(src='img/img_grand_news.jpg' alt='news image').img-responsive
                    .col-lg-6
                      h3.text-left.mt0 Открытие нового банкетного зала
                      p Служба Яндекс.Рефераты предназначена для студентов и школьников, дизайнеров и журналистов, создателей научных заявок и отчетов — для всех, кто относится к тексту, как к количеству знаков.
                      a(href="news_test.html").btn.btn-main Подробнее
                .news-wrap
                  .row
                    -for(var i = 0; i < 9; i++)
                      .col-lg-4.news-item
                        h3 Обвинить вас в плагиате
                        img(src='img/img_grand_news.jpg' alt='news image').img-responsive
                        p Теперь никто не сможет обвинить вас в плагиате, ибо каждый текст Яндекс.Рефератов неповторим.
                        a(href="news_test.html").btn.btn-main.table-center Подробнее

              nav.table-center
                ul.pagination.pagination-mod
                  li
                    a(href="#" aria-label="Previous")
                      span(aria-hidden="true") &laquo;
                  li.active: a(href="#") 0
                  -for(var i = 0; i < 10; i++)
                    li: a(href="#") #{i + 1}
                  li
                    a(href="#" aria-label="Previous")
                      span(aria-hidden="true") &raquo;
