extends meta/_layout

block slider

block content
  section.main-content
    .container
      .row
        .col-xs-12
          .border-block
            |<h1 class="head text-uppercase">Отзыв<span class="last-letter">ы</span></h1>
            //- h1.head.text-uppercase Отзывы о ресторане <br> Аквамарин
            .after-title-line.block-center
            .content-text
              .container-fluid
                .row
                  .col-xs-12
                    button.pull-right.btn.btn-set-reviews(data-target="#modal-get-reviews" data-toggle="modal")
                      i.icon-comment-alt
                      |Оставить отзыв
              .container-fluid
                .row
                  .col-xs-12.col-sm-12.col-md-12.col-lg-8
                    .reviews-wrap
                      -for(var i = 0; i < 5; i++)
                        .reviews.container-fluid
                          .row
                            .col-xs-12.col-sm-12.col-md-12.col-lg-6
                              p.name.text-left.mt0
                                b Иван Иванов
                            .col-xs-12.col-sm-12.col-md-12.col-lg-6
                              p.time
                                b 27 марта 2015
                          .row
                            .col-xs-12
                              p Максимальное отклонение, в первом приближении, определяет альтиметр. Отсюда видно, что отклонение даёт более простую систему дифференциальных уравнений, если исключить нестационарный альтиметр. Инерциальная навигация даёт большую проекцию на оси, чем астатический момент. Вращение трансформирует альтиметр. Проекция, как можно показать с помощью не совсем тривиальных вычислений, горизонтальна.

block modal
  .modal.modal-mod.fade(tabindex="-1", role="dialog", aria-hidden="true")#modal-get-reviews
    .modal-dialog
      .modal-content.no-box-shadow
        .modal-header.pr
          span.close-button.cur(data-dismiss="modal" aria-label="Close")
        .modal-body
          .logo.table-center
            img(src='img/logo_header.png' alt='logo')
          p.title.text-uppercase.text-center.fz17 Оставить отзыв
          p.description.fz13.text-center Ваше мнение очень важно для нас
          form
            .container-fluid
              .row
                .col-xs-10.col-xs-offset-1
                  input(type="text" placeholder="Дата визита")
                  input(type="text" placeholder="Ваше имя")
                  input(type="text" placeholder="Ваш телефон")
            .container-fluid
              .row
                .col-xs-12
                  textarea(placeholder="Отзыв")
                  button(type="submit").btn-main.btn.table-center Отправить
