body {
  font-family: $regular;
}

b, strong {
  font-family: $bold;
}

i, em {
  font-family: $italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $bold;
  i, em {
    font-family: $bold-italic;
  }
}

a, input, textarea, button {
  &:hover, &:active, &:focus {
    outline: none !important;
  }
}

.btn-set-reviews {
  border-radius: 20px;
  border: 1px #bebebe solid;
  text-transform: uppercase;
  color: #757474;
  //height: 60px;
  letter-spacing: 4px;
  padding: 3px 0 0 0;
  height: 57px;
  background: #fff;
  &:hover {
    border-color: #999;
    color: #999;
    i {
      color: #999;
    }
  }
  i {
    font-size: 30px;
    vertical-align: middle;
    margin-top: 8px;
    display: inline-block;
  }
}

.btn-main {
  text-transform: uppercase;
  background: #fff;
  color: #333;
  border: 2px #333 solid;
  padding: 6px 19px;
  &:hover, &:active, &:focus {
    border-color: #999;
    color: #999;
  }
}
