.container{
  @media(min-width: 1200px) {
    width: 990px;
    /* border-right: 1px solid #000; */
    /* border-left: 1px solid #000; */
  }
}

// chrome fix modal scroll
.modal.in {
  transform: translateZ(0);
}

.modal-mod {
  .logo {
    img {
      width: 123px;
      margin-top: -22px;
    }
  }
  .title {
    margin-bottom: 4px;
  }
  .description {
    //
  }
  .modal-header {
    border-bottom: none;
    padding: 0;
  }
  .modal-content {
    box-shadow: none;
    border-radius: 0;
  }
  form {
    margin-top: 43px;
    input {
      margin-bottom: 40px;
      width: 100%;
      display: block;
      border: 1px #333 solid;
      text-transform: uppercase;
      color: #333;
      &:hover, &:active, &:focus {
        border-color: #999;
        color: #999;
      }
    }
    textarea {
      width: 100%;
      height: 220px;
      margin-bottom: 44px;
      color: #333;
      border: 1px #333 solid;
      text-transform: uppercase;
      &:hover, &:active, &:focus {
        border-color: #999;
        color: #999;
      }
    }
    button {
      margin-bottom: 40px;
    }
  }
}

.pagination-mod {
  > li > a,
  > li > span {
    border: 1px #333 solid;
    color: #333;
    &:hover {
      color: #fff;
      background: #333;
      border-color: #333;
    }
  }
  > .active > a,
  > .active > span {
    color: #fff;
    background: #333;
    border-color: #333;
    &:hover {
      color: #fff;
      background: #333;
      border-color: #333;
    }
  }
}

.close-button{
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 2px #333 solid;
  border-radius: 100%;
  overflow: hidden;
  &:hover {
    border-color: #999 !important;
    &::before, &::after {
      background: #999 !important;
    }
  }
  &::before, &::after {
    content: '';
    position: absolute;
    height: 4px;
    // width: 100%;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -2px;
    background: #333;
    width: 45%;
    border-radius: 5px;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &.white{
    border-color: #fff;
    &::before, &::after {
      background: #fff;
    }
  }
}
