@font-face {
  font-family: 'AGKornelia';
  src: url('../fonts/AGKornelia.eot');
  src: url('../fonts/AGKornelia.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AGKornelia.woff2') format('woff2'),
       url('../fonts/AGKornelia.woff') format('woff'),
       url('../fonts/AGKornelia.ttf') format('truetype'),
       url('../fonts/AGKornelia.svg#AGKornelia') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'arian_amu_serifregular';
    src: url('../fonts/arnamu_serif.eot');
    src: url('../fonts/arnamu_serif.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arnamu_serif.woff') format('woff'),
         url('../fonts/arnamu_serif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arian_amu_serifbold';
    src: url('../fonts/arnamu_serif_bold.eot');
    src: url('../fonts/arnamu_serif_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arnamu_serif_bold.woff') format('woff'),
         url('../fonts/arnamu_serif_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arian_amu_serifitalic';
    src: url('../fonts/arnamu_serif_italic.eot');
    src: url('../fonts/arnamu_serif_italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arnamu_serif_italic.woff') format('woff'),
         url('../fonts/arnamu_serif_italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'arian_amu_serifbold_italic';
    src: url('../fonts/arnamu_serif_italic_bold.eot');
    src: url('../fonts/arnamu_serif_italic_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arnamu_serif_italic_bold.woff') format('woff'),
         url('../fonts/arnamu_serif_italic_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
