header.main {
  background: url(../img/bg_header.jpg);
  [class^="col-"] {
    height: 150px;
  }
  .phone {
    li {
      font-size: 14px;
      letter-spacing: 4px;
    }
    span {
      font-style: 15px;
    }
  }
  .social-link {
    span {
      font-size: 25px;
      color: #887f82;
      &.icon-vkontakte{
        font-size: 23px;
        margin-top: 1px;
        display: inline-block;
      }
    }
    li {
      margin-left: 5px;
      margin-right: 6px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .menu {
    /* margin-top: -11px; */
    position: relative;
    margin-bottom: 17px;
    li {
      &:first-child {
        a {
          padding-left: 15px;
        }
      }
      &:last-child {
        a {
          padding-right: 15px;
        }
      }
    }
    a {
      padding: 0 18px;
      letter-spacing: 3px;
      color: #000;
      &:hover {
        color: #999;
      }
    }
    > span {
      width: 300px;
      margin: 0 auto;
      text-align: center;
      padding: 9px;
      border: 1px #000 solid;
      margin-top: 35px;
      margin-bottom: 35px;
      border-radius: 4px;
      user-select: none;
      height: 46px;
      font-size: 20px;
      display: none;
      &:hover {
        color: #999;
        border-color: #999;
      }
    }
  }
}

.before-footer {
  background: #939393;
  color: white(1);
  [class^="col-"] {
    height: 180px;
  }
  .time {
    p {
      font-size: 14px;
      letter-spacing: 4px;
    }
  }
  .contact {
    li {
      font-size: 14px;
      letter-spacing: 3px;
    }
    span {
      margin-right: 15px;
    }
  }
  .logo {
    /* padding-top: 19px; */
    /* padding-bottom: 12px; */
  }
}

footer.main {
  [class^="col-"] {
    height: 45px;
  }
  .copyright {
    p {
      font-size: 13px;
    }
  }
  .social-link {
    li {
      margin-left: 8px;
      margin-right: 8px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    span {
      color: #333;
      font-size: 17px;
      &.icon-vkontakte{
        font-size: 16px;
        margin-top: 1px;
        display: inline-block;
      }
    }
  }
}

.carousel-wrap-news {
  .carousel-prev,
  .carousel-next {
    width: 50px !important;
    span {
      top: 50% !important;
      margin-top: -25px !important;
      left: 0 !important;
    }
  }
}

.carousel-wrap {
  // margin-bottom: 30px;
  max-width: 1920px;
  margin: 0 auto;
  display: none;
  .icon-left,
  .icon-right {
    position: absolute;
    bottom: 0;
    top: 354px;
    font-size: 34px;
    background-color: #fff;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: 3px #333 solid;
    color: #333;
    user-select: none;
    &:hover {
      color: #999;
      border-color: #999;
    }
  }
  .icon-left {
    right: 16px;
    &:before {
      margin-left: 4px;
    }
  }
  .icon-right {
    left: 16px;
    &:before {
      margin-left: 9px;
    }
  }
  .carousel {
    .slider-image-wrap {
      // overflow: hidden;
      // height: 420px;
      position: relative;
      @media(min-width:1200px){
        &:hover{
          .overlay{
            display: block;
          }
        }
      }
      .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: white(.3);
        display: none;
      }
    }
    img {
      // width: 100%;
      // height: 100%;
      // position: relative;
      // top: 50%;
      // transform: translateY(-50%);
      max-height: 450px;
      @media(max-width: 998px){
        max-height: 350px;
      }
      @media(max-width: 768px){
        max-height: 250px;
      }
      @media(max-width: 560px){
        max-height: 180px;
      }
    }
    .description {
      letter-spacing: 4px;
      margin-top: 13px;
    }
  }
  .carousel-prev,
  .carousel-next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    z-index: 1;
    user-select: none;
    &:hover {
      cursor: pointer;
    }
  }
  .carousel-prev {
    left: 0;
  }
  .carousel-next {
    right: 0;
  }
}

section.main-content {
  padding-top: 30px;
  h1.head {
    font-family: $cornelia;
    font-size: 25px;
    display: table;
    margin: -14px auto 18px;
    background-color: white(1);
    letter-spacing: 20px;
    padding: 0 62px;
    color: #0085a1;
    text-align: center;
  }
  span.last-letter {
    letter-spacing: 0px;
  }
  .border-block {
    padding-bottom: 65px;
    border: 3px #cfcfcf solid;
    margin: 0 25px 47px;
    border-radius: 4px;
  }
  .after-title-line {
    width: 140px;
    height: 4px;
    background: #939393;
    margin-bottom: 53px;
  }
  .reviews-wrap {
    .reviews {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .menu-block {
    h3 {
      letter-spacing: 2px;
      margin-bottom: 3px;
    }
    .link {
      color: #333;
      letter-spacing: 3px;
    }
    .media-left, .media > .pull-left {
      margin-right: 3px;
    }
    .icon {
      margin-top: -9px;
      display: inline-block;
    }
  }
}

.content-text {
  padding: 0 35px;
  h1, h2, h3, h4, h5, h6 {
    &.text-left {
      text-align: left;
    }
  }
  h1, h2, h3, h4, h5, h6, p {
    // padding: 0 20px;
  }
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  p {
    font-size: 20px;
    line-height: 26px;
    // letter-spacing: 4px;
  }
  ul {
    li {
      font-size: 20px;
    }
  }
}

.like-block {
  margin-top: 50px;
  margin-bottom: 50px;
  span.icon-heart-empty {
    font-size: 40px;
    padding: 0 50px;
  }
  .collapse-button {
    padding-bottom: 10px;
  }
}

.hidden-like {
  padding: 5px 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#map {
  width: 100%;
  height: 400px;
}

.news-block {
  h3 {
    a {
      color: #333;
      &:hover {
        color: #999;
      }
    }
  }
  .grand-news {
    margin-bottom: 40px;
    img {
      height: 270px;
    }
  }
  .news-wrap {
    background: #fff;
  }
  .news-item {
    margin-bottom: 30px;
    background: #fff;
    img {
      height: 170px;
    }
  }
  .cover {
    .cover-text {
      h3 {
        margin-top: 0;
      }
    }
    .cover-text,
    .cover-img {
      height: 250px;
    }
  }
}

.body_can_zoom_out{
  padding-top: 190px;
  @media(max-width: 1200px){
    padding-top: 266px;
  }
  @media(max-width: 998px){
    padding-top: 348px;
  }
  header.main{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.modal-show-cart{
  .modal-dialog{
    width: 100%;
    margin: 0 0 0 0px;
  }
  .modal-content{
    background: transparent;
    border: none;
    box-shadow:none;
  }
  .modal-header{
    padding: 0;
    min-height: 0px;
  }
}

.full-width-block{
  margin-top: 60px;
  // overflow: hidden;
  // -webkit-box-shadow: 1px 1px 14px 3px rgba(0,0,0,0.53) inset;
  // box-shadow: 1px 1px 14px 3px rgba(0,0,0,0.53) inset;
  img{
    width: 100%;
    // position: relative;
    // left: 50%;
    // transform: translateX(-50%);
  }
}
