@media all and (min-width: 1200px) {
  header.main {
    .menu {
      #mobile-menu {
        display: block !important;
        height: auto !important;
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .btn-set-reviews {
    float: none !important;
    display: table;
    margin: 0 auto 30px;
  }
  header.main {
    .phone {
      ul {
        padding: 10px 0;
        display: table;
        margin: 0 auto;
      }
    }
  }
  header.main {
    .menu {
      #mobile-menu {
        position: absolute;
        top: 46px;
        z-index: 2;
        width: 300px;
        background: #fff;
        left: 50%;
        margin-left: -150px;
        border-radius: 0 0 4px 4px;
        border: 1px #ddd solid;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
      }
      span {
        display: block !important;
      }
      li {
        float: none;
        width: 100%;
        padding-bottom: 10px;
        padding-left: 10px;
        &:first-child {
          padding-top: 10px;
        }
      }
    }
  }
  section.main-content {
    .content-text {
      p {
        margin-bottom: 30px;
      }
    }
  }
  .news-block {
    .grand-news {
      img {
        height: auto;
        margin-bottom: 20px;
      }
    }
    .news-item {
      img {
        height: auto;
      }
    }
  }
  .news-block {
    .cover {
      .cover-text,
      .cover-img {
        height: auto;
      }
      .cover-img {
        margin-bottom: 20px;
      }
    }
  }
}

@media all and (max-width: 992px) {
  .mobile-height {
    height: auto !important;
  }
  .transform-middle {
    position: static;
    transform: inherit;
  }
  section.main-content {
    h1.head {
      padding: 0 15px;
      font-size: 20px;
      letter-spacing: 10px;
      margin: 20px auto 18px;
    }
    .menu-block {
      .meadia {
        margin-bottom: 20px;
      }
    }
  }
  header.main {
    .phone {
      ul {
        padding: 10px 0;
        display: table;
        margin: 0 auto;
      }
    }
  }
  .before-footer {
    .logo {
      padding: 10px 0;
    }
    .contact {
      padding: 10px 0;
      ul {
        display: table;
        margin: 0 auto;
      }
    }
  }
  .carousel-wrap {
    .icon-left,
    .icon-right {
      top: 134px;
    }
  }
  footer.main {
    .copyright {
      float: right;
      padding-top: 4px;
    }
    .social-link {
      ul {
        display: block;
      }
    }
  }
  .pagination-mod {
    li {
      display: none;
      &:first-child,
      &:last-child {
        display: inline-block;
      }
    }
  }
}

@media all and (max-width: 768px) {
  // .carousel {
  //   .slider-image-wrap {
  //     height: 200px !important;
  //   }
  // }
  section.main-content {
    .border-block {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

@media all and (max-width: 500px) {
  section.main-content {
    h1.head {
      font-size: 15px;
      padding: 0px 5px;
    }
  }
}
