// color variables
$gray: #616161;
$gray-black: #38393e;
$orange: #ff7c2d;
$gray-text: #9496a6;

// font variables
$regular: 'arian_amu_serifregular', sans-serif;
$bold: 'arian_amu_serifbold', sans-serif;
$italic: 'arian_amu_serifitalic', sans-serif;
$bold-italic: 'arian_amu_serifbold_italic', sans-serif;
$cornelia: 'AGKornelia', sans-serif;
