.carousel-wrap.pr
  //- a().carousel-prev
  //-   span.icon-left.icon-left-open-outline
  //- a().carousel-next
  //-   span.icon-right.icon-right-open-outline
  .carousel
    -for(var i = 0; i < 12; i++)
      div
        .slider-image-wrap.cur
          .overlay
          img(src="photo/menu-#{i + 1}.jpg" alt="slider photo")
        p.description.fz16.text-uppercase  Шашлык-машлык
