header.main
  .container
    .row
      .col-md-4.col-lg-3.mobile-height
        address.phone.transform-middle
          ul.lsn.pl0.mb0
            li
              span.icon.icon-phone
              |+7 (861) 231-47-26
            li
              span.icon.icon-mobile
              |+7 (918) 113-99-11
      .col-md-4.col-lg-6.mobile-height
        .logo.table-center.transform-middle
          a(href='index.html')
            img(src='img/logo_header.png' alt='logo')
      .col-md-4.col-lg-3.visible-lg-block.visible-md-block
        .social-link.pull-right.transform-middle
          ul.lsn.pl0.mb0
            Li.pull-left
              a(href='https://www.facebook.com/akvamarin.krd' target='_blank').db.no-underline
                span.icon.icon-facebook
            Li.pull-left
              a(href='http://vk.com/akvamarinkr' target='_blank').db.no-underline
                span.icon.icon-vkontakte
            Li.pull-left
              a(href='https://instagram.com/akvamarin.krd/' target='_blank').db.no-underline
                span.icon.icon-instagram
  .container
    .row
      .co-xs-12
        include _header-menu

