nav.menu
  span(data-toggle="collapse" data-target="#mobile-menu" aria-expanded="false" role='menu').cur Меню
  #mobile-menu.collapse
    ul.lsn.table-center.clearfix.pl0.mb0
      li.pull-left
        a(href="cafe.html").db.fz16.text-uppercase.no-underline Кафе
      li.pull-left
        a(href="banquet.html").db.fz16.text-uppercase.no-underline Банкетный зал
      li.pull-left
        a(href="billiards.html").db.fz16.text-uppercase.no-underline Бильярд
      li.pull-left
        a(href="menu.html").db.fz16.text-uppercase.no-underline Меню
      li.pull-left
        a(href="news.html").db.fz16.text-uppercase.no-underline Новости
      li.pull-left
        a(href="reviews.html").db.fz16.text-uppercase.no-underline Отзывы
      li.pull-left
        a(href="contact.html").db.fz16.text-uppercase.no-underline Контакты
