.like-block.visible-lg-block.visible-md-block
  .collapse-button.no-select.cur.visiblily-block.table-center
    span.icon.icon-heart-empty
  .hidden-like.dn
    .social-likes(data-url="www.test.ru" data-title="test name")
      .facebook(title="Поделиться ссылкой на Фейсбуке") Facebook
      .twitter(data-via="test" data-related="test " title="Поделиться ссылкой в Твиттере") Twitter
      .vkontakte(title="Поделиться ссылкой во Вконтакте") Вконтакте
      .odnoklassniki(title="Поделиться ссылкой в Одноклассниках") Одноклассники
