.carousel-wrap.carousel-wrap-news.pr
  //- a().carousel-prev
    span.icon-left.icon-left-open-outline
  //- a().carousel-next
    span.icon-right.icon-right-open-outline

  .carousel-news
    -for(var i = 0; i < 12; i++)
      div
        img(src="photo/menu-#{i + 1}.jpg" alt="slider photo").img-responsive
